/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1a6c36;
  --ifm-color-primary-dark: #176131;
  --ifm-color-primary-darker: #165c2e;
  --ifm-color-primary-darkest: #124c26;
  --ifm-color-primary-light: #1d773b;
  --ifm-color-primary-lighter: #1e7c3e;
  --ifm-color-primary-lightest: #228c46;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #90bf31;
  --ifm-color-primary-dark: #82ac2c;
  --ifm-color-primary-darker: #7aa22a;
  --ifm-color-primary-darkest: #658622;
  --ifm-color-primary-light: #9dcd3b;
  --ifm-color-primary-lighter: #a1cf45;
  --ifm-color-primary-lightest: #b0d761;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
